<% if good.has_image? -%>
  <div class="image">
    <%= link_to image_tag(good.image.url(:list_image_big)), good.image.url, :class => 'lightbox', :rel => good.name %>
    <div class="extra_images">
      <% extra_images = limit.nil? ? good.extra_images : good.extra_images[0...limit] -%>
      <% i = 0 -%>
      <% extra_images.each do |image| -%>
        <%= link_to image_tag(image.url(:list_image_small)), image.url, :class => 'lightbox', :rel => good.name %>
        <%= raw("<br>") if (i += 1) % 3 == 0 -%>
      <% end -%>
    </div>
  </div>
<% end -%>