html {
  height: 100%;
}

body {
  background-image: url(/assets/site/background.jpg);
  background-color: #ecd0b1;
  background-position: center 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
}

#wrapper {
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
}

.container {
  margin: 0 auto;
	width: 952px;
}

#container {
	position: relative;
  min-height: 100%;
}

#castle {
  background-image: url(/assets/site/castle-with-title.jpg);
  width: 1600px;
  height: 1276px;
  z-index: -10;
  position: absolute;
  top: 0px;
  left: -320px;
}

#left-inner-shadow {
  background-image: url(/assets/site/left-inner-shadow.png);
  width: 70px;
  height: 100%;
  
  z-index: -5;
  position: absolute;
  top: 463px;
  left: -69px;
}

#right-inner-shadow {
  background-image: url(/assets/site/right-inner-shadow.png);
  width: 102px;
  height: 100%;
  
  z-index: -5;
  position: absolute;
  top: 697px;
  right: -102px;
}

#left-content-border {
  background-image: url(/assets/site/left-content-border.png);
  width: 35px;
  height: 100%;
  
  z-index: -4;
  position: absolute;
  top: 0px;
  left: -34px;
}

#right-content-border {
  background-image: url(/assets/site/right-content-border.png);
  width: 41px;
  height: 100%;
  
  z-index: -4;
  position: absolute;
  top: 0px;
  right: -40px;
}

#top-content-border {
  background-image: url(/assets/site/top-content-border.png);
  width: 1021px;
  height: 30px;
  
  z-index: -4;
  position: absolute;
  top: -30px;
  left: -33px;
}

#header {
  height: 432px;
}

#content-container {
	float: left;
	background-image: url(/assets/site/content.jpg);
	background-color: #e2bc94;
	background-position: center 11px;
	padding-bottom: 230px;
	width: 100%;
	position: relative;
}

#content {
  margin-left: 310px;
  position: relative;
}

#sidebar {
  clear: left;
  float: left;
  width: 310px;
}

#footer {
	background-color: #7c5c4f;
	border-top: 1px solid #9e877d;
	position: relative;
  height: 230px;
  margin-top: -230px;
  float: left;
  width: 100%;
}

#copyright {
  background-color: #53433d;
 	border-top: 1px solid #998076;
 	height: 55px;
 	position: absolute;
 	bottom: 0px;
 	width: 100%;
}